@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Century Gothic', 'Arial', sans-serif;
}

html {
  scroll-behavior: smooth;
}
 @layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    appearance: textfield;
  }
} 

@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.shine-button {
  position: relative;
  overflow: hidden;
}

.shine-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.801), transparent);
  animation: shine 3s ease-in-out infinite;
  transform: skewX(25deg);
}

.shine-contact{
  position: relative;
  overflow: hidden;
}
.shine-contact::before{
  content: ' ';
  position:absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(58, 58, 58, 0.301), transparent);
  animation: shines 3s ease-in-out infinite;
  animation-delay: 5s;
  transform: skewX(25deg);
}

@keyframes shines {
  0%{
    right: 100%;
  }100%{
    right: -100%;
  }
}